<%- include('header'); %>
<body>
  <h3>An Introduction</h3>
  <p>
    Command your own wing of pilots to glory in this multiplayer cell phone<br/>
    based real time strategy game.
  </p>
</body>
<%- include('footer'); %>
